# Config options for logger sample app

# Copyright (c) 2018 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

mainmenu "Zephyr Application"

menu "Dronetag task configuration"

config MSGQ_SIZE
    int "Message Queue Size"
    default 10

endmenu

source "Kconfig.zephyr"
